{
  "tailwindFunctions": [
    "tw"
  ],
  "overrides": [
    {
      "files": "package-1/**",
      "options": {
        "tailwindStylesheet": "./package-1/app.css"
      }
    },
    {
      "files": "package-2/**",
      "options": {}
    },
    {
      "files": "package-3/**",
      "options": {
        "tailwindFunctions": [
          "tiwi"
        ],
        "tailwindStylesheet": "./package-3/app.css",
        "tailwindPreserveWhitespace": true
      }
    }
  ]
}